<header>
    <div id="sticky_header">
        <h1 id="logo">
            <a id="logo_link" href="/">
                <img src="{{ "/img/logo.png"|media }}" alt="Romanii.net" id="logo_image">
            </a>
            <span id="logo_beta"><img src="{{ "/img/beta.png"|media }}" alt="beta" id="beta_image"></span>
        </h1>
        <!-- /#logo -->


        <ul id="utility_nav" class="reset">


            <li class="utility_object_container">
                <a href="#top" class="utility_button top">
                    <span class="utility_button_inner">
                        <span class="icon"></span>
                        {% trans %}Back to top{% endtrans %}
                    </span>
                </a>
            </li>

        </ul>
        <!-- /#utility_nav -->

        <div class="clear"></div>

    </div>
    <!-- /#sticky_header -->

</header>
<!-- /header -->

<div class="clear"></div>
