{% import "macros.html" as macros %}
<h4 class="first">{% trans %}In:{% endtrans %}</h4>
<ul>
        <li><a id="all" 
            class="{% if scope == 'all' %}on{% else %}off{% endif %}"
            href="?scope=all" 
            title="{% trans %}see all questions{% endtrans %}"
        ><span>{% trans %}all{% endtrans %}</span></a></li>
        <li><a id="unanswered" 
            class="{% if scope == 'unanswered' %}on{% else %}off{% endif %}"
            href="?scope=unanswered&amp;sort=answers-asc" 
            title="{% trans %}see unanswered questions{% endtrans %}"
        ><span>{% trans %}unanswered{% endtrans %}</span></a></li>
        {% if request.user.is_authenticated() %} 
        <li><a id="favorite" 
            class="{% if scope == 'favorite' %}on{% else %}off{% endif %}"
            href="?scope=favorite" 
            title="{% trans %}see your followed questions{% endtrans %}"
        ><span>{% trans %}followed{% endtrans %}</span></a></li>
        {% endif %}
</ul>

